power-apps-adaptive-cards-generator/SampleApplication/Workflows/SampleApplicationSendCard-4E7E79B9-2559-EE11-BE6F-00224868726E.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365users": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "karamem0_SampleApplication_sharedoffice365users"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_teams": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "karamem0_SampleApplication_sharedteams"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "bb395af7-9f25-4834-8dc7-ba0366866c72"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Value",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Value",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "PowerApp_または_Flow_に応答する": {
          "runAfter": {
            "Send_Adaptive_Cards": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5516cc07-4996-469c-84e2-faad6168e6d4"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "Get_My_Profile": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e4de645b-4d38-4655-b7ee-24859dffeff2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365users",
              "operationId": "MyProfile_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
            },
            "parameters": {
              "$select": "userPrincipalName"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_Adaptive_Cards": {
          "runAfter": {
            "Get_My_Profile": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "58a1c904-b1a5-46b9-9160-edcb2a582ac7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams",
              "operationId": "PostCardToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster": "Flow bot",
              "location": "Chat with Flow bot",
              "body/recipient": "@outputs('Get_My_Profile')?['body/userPrincipalName']",
              "body/messageBody": "@triggerBody()['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}
